body{
    background-color: #fbf8be;
    color: rgba(44, 60, 161, 0.333);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    color: #f00;
    padding: 10px 20px;
  }
  
  .title {
    font-size: 2.5em;
    font-size: 'sd-asian';
  }
  .title:hover{
    color: #fee715;
    text-decoration: pink dashed underline;
  }
  
  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu li a {
    text-decoration: none;
    color: #fff;
  }
  
  .menu li a:hover {
    color: #fee715;
    text-decoration:red wavy underline;
  }

.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
    color: rgb(255, 0, 0);
    text-shadow: red 10px;
}
.container h2{
    color: #234E70;
    font-size: 800px;
}
.container1{
    width: 80%;
    margin:auto;
    background-color: #fbf8be;
    color: #234E70;

}

#main-header{
    background-color: #000000;
}
#showcase{
    color: #234E70;
    background-position: center right;
    /* min-height is used for adjusting div/box sizes as we decrease width box sizes increases accordingly */
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1{
    color: #234E70;
    font-size: 50px;
    line-height: 1.6em;
    padding-top: 30px;
}

#main{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
    color: #101820;
}
#sidebar{
    float: right;
    width: 30%;
    background: #101820;
    color: #fee715;
    padding: 10px;
    box-sizing: border-box;
}
#main-footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
/* if width>600px then sidebar shift downward */
@media(max-width:600px){
    #main{
        width:100%;
        float: none;   
     }
     #sidebar{
        width:100%;
        float: none;   
     }
}
